HELP.md
.DS_Store
.env
*.log

# Java/Maven build
target/
build/
.mvn/
mvnw
mvnw.cmd

# IDEs
.idea/
.vscode/
*.iws
*.iml
*.ipr

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Node (cuando inicies frontend)
node_modules/
dist/